version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: problem5-app:latest
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_URI=mongodb+srv://truonghai9426_db_user:ykp5GBG8vKY2Xswv@cluster0.8xkiep8.mongodb.net/?appName=Cluster0
      # Add Cloudinary envs if used in app:
      - CLOUDINARY_CLOUD_NAME=dmdzyoslx
      - CLOUDINARY_API_KEY=177942217816977
      - CLOUDINARY_API_SECRET=OxgHlEmhu1323kxuucUbu9oWWyY
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
